@use '../globals';
.author-basic-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: globals.$margin;
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-position: 0px 0px;
    object-fit: cover;
  }
  span{
    margin-top: calc(globals.$margin - 5px);
  }
}
