@use '../globals';
main.book-details{
    position: absolute;
    padding: 0 globals.$margin;
    width: 100%;
    section.main-details{
        display: flex;
        
        //subtracting the height of the navbar
        height: calc(100vh - globals.$margin-big);
        justify-content: center;
        align-items: center;
        gap: globals.$margin-huge;
        
        img{
            height: 30.625rem;
            width: 19.6875rem;
            object-position: 0px 0px;
            object-fit: cover;
            border-radius: globals.$border-radius-small;
        }
        .text-details{
            display: flex;
            flex-direction: column;
            gap: globals.$margin;
            .genres-container{
                display: flex;
                gap: globals.$margin-small;
            }
            .genre{
                display: inline-block;
                height: 1.5rem;
                width: auto;
                padding: 0 globals.$margin-small;
                background-color: globals.$light-primary-color;
                border-radius: globals.$border-radius-full;
                border: 1px solid globals.$primary-color;
            }
            .buttons-container{
                span{
                    color: globals.$secondary-color;
                }
            }
        }
        margin-bottom: globals.$margin-huge;
    }
    section.overview,
    section.more-books{
        display: inline-block;
        width: 50%;
        h2{
            margin-bottom: globals.$margin
        }
    }
    section.overview{
        p{
            width: 90%;
        }
    }
    section.more-books{
        height: 100%;
        .books{
            display: flex;
        }
    }
    section.reviews{
        margin-top: globals.$margin-huge;
        margin-bottom: globals.$margin-big;
        h2{
            display: flex;
            align-items: center;
            div{
                display: inline-block;
                height: calc(globals.$margin-big - globals.$margin-small);
                width: 3px;
                background-color: globals.$primary-color;
                
                margin: 0 globals.$margin-small;
            }
        }
        textarea{
            width: 100%;
            line-height: 1;
            overflow-y: hidden;
        }
        .review{
            display: flex;
            flex-direction: column;
            margin: globals.$margin 0;
            .img-and-name-container{
                display: flex;
                align-items: center;
            }
            img{
                border-radius: 50%;
                
            }
    
            p{
                width: 80%;
            }
        }
    }
}