@use "../globals";
.book-basic-details {
  width: min-content;
  margin-right: globals.$margin;
  img {
    height: 14rem;
    width: 9rem;
    border-radius: globals.$border-radius-small;
    object-position: 0px 0px;
    object-fit: cover;
  }

  span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: calc(globals.$margin-small - 5px);
    width: 90%;
    font-weight: 400;
  }
}
.book-basic-details:hover {
  color: globals.$secondary-color;
  cursor: pointer;
}
