@use "../globals";
.book-basic-details {
  width: fit-content;
  margin-right: globals.$margin;
  img {
    height: 14rem;
    width: 9rem;
    border-radius: globals.$border-radius-small;
    object-position: 0px 0px;
    object-fit: cover;
  }

  span {
    display: block;
    margin-top: calc(globals.$margin-small - 5px);
    width: 90%;
    font-weight: 400;
  }
  
}
.book-basic-details:hover {
  color: globals.$primary-color;
  cursor: pointer;
}
