@use '../globals';
main.book-details{
    position: absolute;
    padding: 0 globals.$margin;
    width: 100%;
    section.main-details{
        display: flex;
        
        //subtracting the height of the navbar
        height: calc(100vh - globals.$margin-big);
        justify-content: center;
        align-items: center;
        gap: globals.$margin-huge;
        
        img{
            height: 30.625rem;
            width: 19.6875rem;
            object-position: 0px 0px;
            object-fit: cover;
            border-radius: globals.$border-radius-small;
        }
        .text-details{
            display: flex;
            flex-direction: column;
            gap: globals.$margin;
            .genres-container{
                display: flex;
                gap: globals.$margin-small;
            }
            .genre{
                display: inline-block;
                height: 1.5rem;
                width: auto;
                padding: 0 globals.$margin-small;
                background-color: globals.$light-primary-color;
                border-radius: globals.$border-radius-full;
                border: 1px solid globals.$primary-color;
            }
            .buttons-container{
                span{
                    color: globals.$secondary-color;
                }
            }
        }
        margin-bottom: globals.$margin-huge;
    }
    section.overview,
    section.more-books{
        display: inline-block;
        width: 50%;
    }
    section.overview{
        p{
            width: 90%;
        }
    }
}