@use '../globals';
main.explore{
    padding-left: globals.$margin;
    section{
        margin-top: globals.$margin-big;
        margin-bottom: globals.$margin-small;
    }
    .books-details-container{
        display: flex;
        margin-top: globals.$margin;
    }
    .authors-details-container{
        display: flex;
        margin-top: globals.$margin;
    }
}
