@use '../globals';
main.not-found{
    display: flex;
    height: calc(100vh - 3.4375rem);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: globals.$margin-big;
    h1.emphasized{
        color: globals.$primary-color;
    }
    span{
        color: globals.$secondary-color;
    }
}