main.pdf-renderer{
    height: calc(100vh - 3.4375rem);
    display: flex;
    .pdf-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 95%;
        margin: auto;
        overflow: scroll;
        
        &::-webkit-scrollbar{
            display: none;
        }
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        .annotationLayer{
            display: none;
        }
    }
    canvas{
        margin: 0 auto;
    }
    button{
        display: block;
        position: fixed;
        top: 100px;
        
    }
    button.next-page{
        margin-left: 100px;
    }
}