@use '../globals';
main.pdf-renderer{
    height: 100vh;
    display: grid;
    grid-template-columns: 30% auto 30%;
    align-items: center;
    padding: 0 globals.$margin;
    
    .pdf-container{
        display: flex;
        flex-direction: column;
        grid-column-start: 2;
        
        height: 80%;
        align-items: center;
        justify-content: center;
        overflow: scroll;
        
        &::-webkit-scrollbar{
            display: none;
        }
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        .annotationLayer{
            display: none;
        }
    }
    section.bookmarks{
        margin-left: globals.$margin-big;
        background-color: globals.$gray;
        border-radius: globals.$border-radius-small;
        .pdf-doc{
            width: 100%;
            overflow-x: scroll;
            display: flex;
            gap: globals.$margin-small;
            canvas{
                border-radius: globals.$border-radius-tiny;
            }
        }
    }
    p.page-number{
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        bottom: globals.$margin;
    }
    
    img.close{
        background-color: globals.$gray;
        border-radius: 50%;
        padding: 5px;
        position: fixed;
        top: globals.$margin;
        //centering it based on the controls sidebar
        left: calc(globals.$margin-big - 20px);
    }
    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: globals.$margin-small;
        position: fixed;
        top: 50%;
        left: globals.$margin;
        transform: translateY(-50%);
        width: globals.$margin-big;
        background-color: globals.$gray;
        border-radius: globals.$border-radius-small;
        padding: globals.$margin-small 3px;
    }
    svg{
        width: 1.875rem;
        height: 1.875rem;
    }
    section.page-comments{
        grid-column-start: 3;
        margin-left: globals.$margin-big;
    }
}