@use '../globals';
main.pdf-renderer{
    height: 100vh;
    display: flex;
    .pdf-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 80%;
        margin: auto;
        overflow: scroll;
        
        &::-webkit-scrollbar{
            display: none;
        }
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
        .annotationLayer{
            display: none;
        }
    }
    canvas{
        margin: 0 auto;
    }
    aside{
        display: flex;
        flex-direction: column;
        gap: globals.$margin-small;
        position: fixed;
        top: globals.$margin-huge;
        width: globals.$margin-big;

    }
    
}