@use '../globals';
main.search-page{
    margin-top: globals.$margin-big;
    padding-left: globals.$margin;
    .book-results{
        margin-top: globals.$margin;
        h2{
            margin-bottom: globals.$margin-small;
        }
    }
    .book-results-container{
        display: flex;
    }
}