@use '../globals';
main.thread-page{
    display: flex;
    width: 100%;
    height: calc(100vh - globals.$margin-big);
    gap: globals.$margin;
    padding: 0 globals.$margin;
    aside{
        display: flex;
        flex-direction: column;
        gap: globals.$margin;
        width: 40%;
        height: 100%;
        padding: globals.$margin-small 0;
        
        .joined-threads{
            height: 100%;
            overflow: auto;
        }
        .thread{
            display: flex;
            align-items: center;
            padding: 0 globals.$margin-small;
            width: 100%;
            height: 2.5rem;
            border-radius: globals.$border-radius-tiny;
            margin-bottom: globals.$margin-small;
        }
        .thread:hover{
            color: globals.$secondary-color;
            cursor: pointer;
            background-color: globals.$gray;
        }
        form{
            height: 20%;
        }
        input{
            width: 100%;
        }
    }
    section.chatbox{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding-bottom: globals.$margin-small;
        .messages-container{
            width: 100%;
            height: 100%;
            padding: 0 globals.$margin;
            overflow-y: scroll;
            span{
                width: 100%;
            }
        }
        .message{
            display: flex;
            gap: globals.$margin-small;
            margin: globals.$margin 0;
            img{
                border-radius: globals.$border-radius-full;
            }
            h3{
                display: inline;
                font-size: 1rem;
        
            }
            span{
                font-size: 0.85rem;
                font-weight: 500;
                margin-left: calc(globals.$margin-small - 8px);
                color: globals.$gray;
            }
            p{
                margin: calc(globals.$margin-small - 3px) 0;
            }
        }
        form{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: globals.$black;
            width: auto;
        }
        input{
            width: 100%;
            margin: 0 auto;
        }
    }
    .no-messages{
        height: 100%;
        text-align: center;
        h1{
            margin: auto 0;
        }
    }
}