@use '../globals';
main.upload{
    display: flex;
    form.upload-form{
        width: 50%;
        height: 100vh;
        padding-left: globals.$margin-big;
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-direction: column;
        input.gbooks-link,
        label{
            margin-top: globals.$margin-small;
            color: globals.$white;
            display: flex;
            align-items: center;
        }
        label{
            color: globals.$light-white;
        }
        input[type="file"]{
            display: none;
        }
        .buttons-container{
            display: flex;
            margin-top: 3.75rem;
            button{
                display: block;
                margin-top: 0;
            }
            
        }
    }
    img.bookwall{
        width: 50%;
    }
}
