@use '../globals';
main.user-info{
    width: 100%;
    padding: 0 globals.$margin;
    .books{
        display: flex;
        gap: globals.$margin;
    }
    .book-basic-details {
        margin-right: 0;
    }
    h2.description-headline{
        margin-bottom: globals.$margin-small;
    }
    section.username-and-avatar{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: globals.$margin;
        margin-top: globals.$margin;
        margin-bottom: globals.$margin-huge;
        img{
            border-radius: 50%;
            position: relative;
            object-fit: cover;
            object-position: 0 0;
            width: 18.75rem;
            height: 18.75rem;
        }
        .overlay{
            width: 18.75rem;
            height: 18.75rem;
            border-radius: 50%;
            position: absolute;
            z-index: 21;
            cursor: pointer;
            
        }
        .overlay:hover{
            background-color: globals.$light-primary-color;
        }
        input[type="file"]{
            display: none;
        }
        h1[contenteditable="true"]{
            padding: 2px;
        }
        h1[contenteditable="true"]:hover{
            background-color: transparent;
            border: 2px solid globals.$gray;
            border-radius: globals.$border-radius-small;
        }
        h1[contenteditable="true"]:focus{
            outline: none;
            border: 2px solid globals.$gray;
            padding: 2px;
            border-radius: globals.$border-radius-small;
        }
    }
    section.recent-reviews{
        grid-column-start: 3;
        .review{
            display: flex;
            flex-direction: column;
            margin: globals.$margin 0;
            
            .img-and-name-container{
                display: flex;
                align-items: center;
            }
            img{
                border-radius: 50%;
            }
    
            p{
                width: 80%;
            }
        }
    }
    .recent-reads-and-reviews-container{
        display: grid;
        grid-template-columns: 30% auto 30%;
        
        margin: globals.$margin 0;
    }
    section.favourite-books{
        margin-bottom: globals.$margin;
        .book-container a:hover ~ .remove-book {
            display: block;
        
        }
        .book-container{
            position: relative;
        }
        .remove-book {
            width: globals.$margin;
            height: globals.$margin;
            background-color: globals.$white;
            border-radius: 50%;
            position: absolute;
            left: auto;
            right: -5px;
            top: -5px;
            border: 4px solid globals.$black;
            box-sizing: content-box;
            display: none;
            text-align: center;
            .presentation {
                width: calc(globals.$margin - 5px);
                height: 5px;
                background-color: globals.$red;
                border-radius: globals.$border-radius-full;
                margin: 0 auto;
                margin-top: calc(50% - 2.5px);
            }
        }
    }
    
    dialog.add-fav-book{
        .info-container{
            height: fit-content;
            display: flex;
            flex-direction: column;
            gap: globals.$margin;
            align-items: center;
        }
        .book-selection{
            display: flex;
            flex-direction: column;
            gap: globals.$margin-small;
            padding: globals.$margin-small 0;
            height: globals.$margin-huge;
            overflow-y: scroll;
        }
        .book-option{
            width: 30rem;
            display: flex;
            gap: 10px;
            padding: globals.$margin-small;
            align-items: center;
            border-radius: globals.$border-radius-tiny;
            img{
                height: 3.5rem;
                width: 2.25rem;
                border-radius: 3px;
                object-position: 0px 0px;
                object-fit: cover;
            }

        }
        .book-option:hover{
            cursor: pointer;
            color: globals.$secondary-color;
        }
        .book-option.selected{
            color: globals.$secondary-color;
            background-color: globals.$gray;
        }
        
    }
}