@use '../globals';
main.user-info{
    width: 100%;
    section.username-and-avatar{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: globals.$margin;
        margin-top: globals.$margin;
        img{
            border-radius: 50%;
        }
    }
    section.recent-reviews{
        .review{
            display: flex;
            flex-direction: column;
            margin: globals.$margin 0;
            .img-and-name-container{
                display: flex;
                align-items: center;
            }
            img{
                border-radius: 50%;
                
            }
    
            p{
                width: 80%;
            }
        }
    }
}