@use './colors';
html{
    font-size: 100%;
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    color: colors.$black;
    background-color: colors.$black;
    font-family: 'Roboto', sans-serif;
}

.App{
    height: 100vh;
    overflow: auto;
}

input:focus{
    outline: none;
}