h1,
h2,
h3{

    margin: 0;
}

a, 
a:visited,
a:active{
    font-size: 1rem;
    font-weight: 300;
    text-decoration: none;
}

h1{
    font-size: 3rem;
    font-weight: 400;
}

h2{
    font-size: 2.1875rem;
    font-weight: 300; 
}

h3{
    font-size: 1.25rem;
    font-weight: 400;
}

p,
span,
button,
input{
    font-size: 1rem;
    font-weight: 200;
}